.arpu {
    &-container {
      display: grid;
      grid: auto/1fr 3fr;
      height: 100%;
      justify-items: center;
      align-items: center;
    
    }
    &-title {
      &-container {
        display: grid;
        grid: 1fr 1fr / auto;
        height: 100%;
        justify-items: center;
        align-self: end;
      }
  
      &-total {
        display: grid;
        align-items: end;
        font-size: 2rem;
      }
    }
  }
  