.main-container {
    height: 100%;
    display: grid;
    grid: auto / .2fr .8fr;
    padding-left: 40px;

  }

.total-container {
    display: grid;
    grid: 1fr 1fr / auto;
  }
  
  .icon {
    display: grid;
    align-items: center;
    justify-items: center;
    
  }

.ytd {
    display: grid;
    align-items: end;
    justify-items: start;
    font-size: 2rem;

}

.title {
    display: grid;
    align-items: start;
    justify-items: start;
    font-size: 1rem;
}