.layout {
  //   overflow: hidden;
  height: 100%;
  width: 100%;
  display: grid;
  grid: 50vh 40vh / none;

  &-top {
    display: grid;
    grid: auto / 33% 33% 33%;
    &-left {
      display: grid;
      grid: 33% 33% 33%;
    }
    
  }

  &-bottom {
    display: grid;
    grid: 33% 33% 33% / auto;
  }
}
